<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/10b2c21570.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <img id="login_background" src="{% static 'img/login_background.jpg' %}" />
    <div class="container d-flex justify-content-center text-center position-absolute top-50 start-50 translate-middle">
        <form class="bg-transparent p-3 col-xs-12 col-sm-10 col-md-8 col-lg-6 mb-5" action="/registration" method="post">
            {% csrf_token %}
            <div class="form-group text-left p-2">
                <div class="d-flex">
                    <h1 class="mt-4"><i class="fa-solid fa-user"></i> Create Account</h1>
                </div>
                {% if messages %}
                    <ul class="messages alert-danger">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="text" class="form-control mb-2" name="first_name" aria-describedby="helpId" placeholder="First Name">
                <input type="text" class="form-control mb-2" name="last_name" aria-describedby="helpId" placeholder="Last Name">
                <input type="text" class="form-control mb-2" name="email" aria-describedby="helpId" placeholder="Email Address">
                <input type="password" class="form-control mb-2" name="password" aria-describedby="helpId" placeholder="Password">
                <input type="password" class="form-control mb-2" name="confirm" aria-describedby="helpId" placeholder="Confirm Password">
                <p class="">Already have an account? <a href="/login" class="">Click here to login!</a></p>
                <input type='submit' value='Register' class="btn d-flex align-items-center text-decoration-none btn-primary float-end mx-2">
            </div>
        </form>
    </div>
    <div>
        <a href="https://www.freepik.com/photos/nutrition">Nutrition photo created by freepik - www.freepik.com</a>
    </div>
</body>
</html>