/* .dropdown-menu a:hover {
    background-color: #007bff !important;
} */

#main_background, body {
  height: 100vh;
  width: 100vw;
  /* background: url('../static/recipe_app/img/background.jpg'); */
  /* background: url ("{% static 'recipe_app/img/background.jpg' %}"); */
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* opacity: .6; */
  position: absolute;
  z-index: 0;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
    right: 0 !important;
}

.card{
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45) !important;
    background: rgba(237, 232, 232, 0.2) !important;
    border-radius: 16px !important;
    border: 1px solid rgba(255, 255, 255, 0.589) !important;
}

@media screen and (min-width: 951px) {
    form {
    font-size: 16px;
    }
}

@media screen and (max-width: 950px) {
    form  {
    font-size: 10px;
    }
}

#logo {
    max-width: 200px;
    width: 100%;
    object-fit:scale-down;
}

/* body {
    background: #c7c7c1 !important;
} */

/* * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
  }

a {
  text-decoration: none;
} */

h1 {
  color:red;
}

.search-hover {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}
.search-hover:hover {
  width: 300px;
  padding-left: 50px;
}


