.card{
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45) !important;
    background: rgba(237, 232, 232, 0.2) !important;
    border-radius: 16px !important;
    border: 1px solid rgba(255, 255, 255, 0.589) !important;
}

#login_background {
    height: 100vh;
    width: 100vw;
    object-fit:cover;
}

@media screen and (min-width: 951px) {
    form {
    font-size: 16px;
    }
}

@media screen and (max-width: 950px) {
    form  {
    font-size: 10px;
    }
}

